
.nav{
    height: 30%;
    z-index:1;
    margin: 10px;
    padding-top: 10px;
    display: inline;  
    
}

.marks{
    padding-bottom: 8px;
}

.iconlogo{
    width: 50px;
    height: 30px;
    margin-top: 10px;
    margin-left: 35px;
    padding: 8px;
}

.active {
    text-decoration: none;
    color: #79797a;
    padding-bottom:  25px;
    line-height: 51px;
    vertical-align: text-bottom;
    font-weight: 550;
}
