main {
    background-color: rgb(251, 251, 251);
    width: 82%;
    height: 40rem;
    margin-left: 13rem;
    position: absolute;
    top: 16rem; left: 23px;
    border-radius: 20px;
}

.maintext{
    margin-left: 35px;
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: 20px;
}

/*COLUMN NUMBER 1*/

.paytxt{
    position: absolute;
    top: 6.4rem; left: 48px;
    line-height: 15px;
    font-size: 14px;
}

.maincl1 {
    background-color: #ffe9ed;
    border-radius: 14px;
    width: 17rem;
    height: 8rem;
    margin-left: 35px;
    margin-top: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cl1img{
    height: 65px;
    margin-left: 11.2rem;
    margin-top: 16px;
    margin-bottom: auto;
}

/*COULN NUMBER 2*/


.paytxt2{
    position: absolute;
    top: 16.7rem; left: 50px;
    line-height: 0.9rem;
    font-size: 15px;
}

.maincl2 {
    background-color: #e3e3e7;
    border-radius: 14px;
    width: 17rem;
    height: 8rem;
    margin-left: 35px;
    margin-top: 35px;
    //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*COLUMN NUMBER 3*/

.paytxt3{
    position: absolute;
    top: 6.3rem; left:23rem;
    line-height: 13px;
    font-size: 15px;
}

.maincl3{
    background-color: #e4eeff;
    border-radius: 14px;
    width: 17rem;
    height: 8rem;
    margin-left: 22rem;
    margin-top: -18.2rem;
    //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cl2img{
    height: 67px;
    margin-left: 11.5rem;
    margin-top: 13px;
    margin-bottom: auto;
}

/*COLUMN NUMBER 4*/


.paytxt4{
    position: absolute;
    top: 16.6rem; left: 370px;
    line-height: 0.9rem;
    font-size: 15px;
}

.maincl4 {
    background-color: #e3e3e7;
    border-radius: 14px;
    width: 17rem;
    height: 8rem;
    margin-left:353px;
    margin-top: 34px;
    //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*COLUMN NUMBER 5*/

.paytxt5{
    position: absolute;
    top: 6.3rem; left:43rem;
    line-height: 13px;
    font-size: 15px;
}

.maincl5{
    background-color: #eee5ff;
    border-radius: 14px;
    width: 17rem;
    height: 8rem;
    margin-left: 41.8rem;
    margin-top: -18.1rem;
    //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cl3img{
    height: 67px;
    margin-left: 11.5rem;
    margin-top: 13px;
    margin-bottom: auto;
}

/*COLUMN NUMBER 6*/

.paytxt6{
    position: absolute;
    top: 16.6rem; left: 690px;
    line-height: 0.9rem;
    font-size: 15px;
}

.maincl6{
    background-color: #e3e3e7;
    border-radius: 14px;
    width: 17rem;
    height: 8rem;
    margin-left:670px;
    margin-top: 34px;
    //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
