.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.9rem ;
}

.left {
    display: flex;
    align-items: center;
    gap: 4.3rem;
    width: 40rem;
    height: 30px;
}
.logo {
    width: 150px;
    margin-left: 18px;
}

.basiclogo {
    width: 40px;
    
}

.aokis {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.arrow {
    margin-bottom: 20px;
}

.logo2{
    width: 24px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-left: 12rem;
}
.active {
    text-decoration: none;
    color: #3a3a3a;
    margin-right: 20px;
  
}
.right {
    display: flex;
    align-items: center;
    gap: 2rem;
}