
.searchbox {
    display: flex;
    align-items: center;
  }
  
  .searchinput {
    padding: 3px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    flex: 1;
    outline: none;
  }
  
  .searchbutton {
    padding: 3px 10px;
    background-color: #546270;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  .searchbutton:hover{
    color: pink;
  }

  .search-button:hover {
    background-color: #0056b3;
  }
  
  .search-input:focus {
    outline: none;
    border-color: #a2c5eb;
    
  }
  